{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">

  .card-signin {
	  width: 100%;
	  max-width: 400px;
	  padding: 15px;
	  margin: auto;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


</style>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="card card-signin">
		  <div class="card-body">
		    <form class="form-signin" method="post">{% csrf_token %}
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Adres Email" required autofocus>

				<input type="first_name" name="first_name" id="inputFirst_name" class="form-control" placeholder="Imię" required>

				<input type="last_name" name="last_name" id="inputLast_name" class="form-control" placeholder="Nazwisko" required>

				<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Hasło" required>

				<input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Potwierdź hasło" required>

				{% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}
				<div class="row justify-content-center" style="padding-top: 50px">
					<button class="btn btn-outline-danger shadow-p p-3 mb-5 bg-red rounded" type="submit">Register</button>
				</div>

			</form>
		  </div>
		</div>

	</div>
</div>

{% endblock content %}





























<!--<center>-->
<!--    <h1>rejstracja</h1>-->
<!--    <form method="post" action="/user_account/register/">-->
<!--        {% csrf_token %}-->
<!--        {{ register_form }}-->
<!--        <input type="submit" value="zarejstruj">-->
<!--    </form>-->
<!--</center>-->
