{% load static %}
<!DOCTYPE html>
<html lang=pl>

<head>
    <meta charset="UTF-8">
    <title>Rentacar</title> <!-- To jest komentarz -->
    <meta name="description" content="Rentacar">
    <meta name="keywords" content="Rentacar"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- sprawia że jest kompatybilny z explorerem-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--   <link rel="stylesheet" href="main.css">-->
    <link href="{% static 'cars/styles/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'cars/styles/hero-banner.css' %}" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,900&display=swap" rel="stylesheet"> <!-- podłącza fonty-->
   <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- reguluje rozdzielczość dla urządzeń mobilnych-->
<!--   dodaje ikonki z awesomefont free-->
</head>

<body>

{% include 'snippets/navbar.html' %}
{% include 'snippets/header.html' %}



<!-- Body -->
<style type="text/css">
	.main{
		min-height: 100vh;
		height: 100%;
	}
</style>
<div class="main">
	{% block content %}

	{% endblock content %}
</div>
<!-- End Body -->

{% include 'snippets/footer.html' %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'homepage/scripts/script.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</body>


</html>