{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container rounded bg-white mt-5 mb-5" style="padding-top: 25px">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-1"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span>
				<span class="text-black-50">
					{%  if is_self %}
		  			{{email}}
		  		{% else %}
		  			{% if hide_email %}
			  			**********
			  		{% else %}
			  			{{email}}>
			  		{% endif %}
			  	{% endif %}
				</span>
				<span style="padding-top: 10px">
					<a class="btn btn-outline-danger shadow-p p-1 mb-2 bg-red rounded">Edit Profile</a>
				</span>
				<span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-1">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <h4 class="text-right">Profile Info</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><div style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">Jan</div></div>
                    <div class="col-md-6"><label class="labels">Surname</label><div style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">Kowalski</div></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Company Name</label><div style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">Januszex</div></div>
                    <div class="col-md-12"><label class="labels">Mobile Number</label><div style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">+48 111 222 333</div></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><div style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">al. Kwiatowa</div></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><div style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">42A</div></div>
                    <div class="col-md-12"><label class="labels">Postcode</label><div style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">50-200</div></div>
                    <div class="col-md-12"><label class="labels">State</label><div style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">Dolnyśląsk</div></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><div style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">Polska</div></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><div style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">Dolnyśląsk</div></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-1">
				<div class="row justify-content-center" style="padding-top: 60px">
					<a class="btn btn-outline-danger shadow-p p-3 mb-2 bg-red rounded">Bookings</a>
				</div>
				<div class="row justify-content-center" style="padding-top: 0px">
					<a class="btn btn-outline-danger shadow-p p-3 mb-3 bg-red rounded">Transactions</a>
				</div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}