{% extends "base.html" %}


{% block content %}


  <center>
    <h1>Potwierdz rezerwacje</h1>

    <form action=" "  method="POST">
        {% csrf_token %}
        {{ form.as_p }}


        marka :  {{ car.mark }} <br/>
        model :  {{ car.model }} <br/>
        kolor :  {{ car.color }} <br/>
        koszt : <div id="koszt">{{ car.daily_rental_cost }}</div><br/>

        rok produkcji : {{ car.year_of_production }} <br/>
        status : {{ car.car_is_rented }} <br/>
        lokalizacja : {{ car.facility_allocation }} <br/>

        <button class="btn btn-outline-danger shadow-p p-3 mb-5 bg-red rounded" type="submit">Potwierdz</button>

    </form>

<button onclick="convert_date()">Sprawdz koszt</button>
        <p id="demo"></p>



<!--            {% csrf_token %}-->
<!--            {{ form.as_p }}-->

<!--            <label for="day_started">  Dzien startu: </label></br>-->
<!--            <input type="datetime-local" id="day_started" name="day_started" value=" day_started ">-->

<!--        <label for="day_ended">  Dzien zakonczenia: </label></br>-->
<!--            <input type="datetime-local" id="day_ended" name="day_ended" value=" day_ended ">-->
<!--            {% if submitted %}-->
<!--            <p> {{ event.event_value }} </p>-->
<!--        </form>-->
<!--        {% endif %}-->
<!--        <br/>-->
<!--        <br>-->




        



  </center>


<script type="text/javascript">
    function convert_date(){
        day_1=document.getElementById("id_day1").value
        day_2=document.getElementById("id_day2").value
        var koszt1 = document.getElementById('koszt');
        koszt2 = koszt1.innerHTML
        console.log(koszt2)
        console.log(day_1)
        console.log(day_2)

        var d = Date.parse(day_1);

        console.log(d); //this is in milliseconds
        var b = Date.parse(day_2);
        console.log(b); //this is in millisecond

        var c = b - d
        console.log(c)
        diffDays = Math.ceil(c / (1000 * 60 * 60 * 24));
        prize = diffDays * koszt2
        console.log(diffDays)
        document.getElementById("demo").innerHTML = prize;
        }


</script>
{% endblock %}
