	<div class="footer">
        <div class="container">
            <div class="footer-text">
                <div class="row mb-3">
                  <div class="col-md-8 themed-grid-col"><h1 class="text-light">Skontaktuj się z nami!</h1></div>
                  <div class="col-md-2 themed-grid-col"><span class="badge bg-danger px-3 py-3"><h6>+48 123 564 256</h6></span></div>
                  <div class="col-md-2 themed-grid-col"><span class="badge bg-light text-dark px-3 py-3"><h6>rentacar@gmail.com</h6></span></div>
                </div>
            </div>
        </div>
    </div>
