<nav class="navbar fixed-top py-3 navbar-expand-lg navbar-light bg-light shadow-sm">
     <div class="container">
      <a class="navbar-brand" href="#">
         RENTACAR<img src="/static/cars/images/logo.png" width="130" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col-auto">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/">Strona Główna</a>
         </li>
         <li class="nav-item">
           <a class="nav-link active" href="http://127.0.0.1:8000/cars">Auta</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Okazje</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Kultowe Auta</a>
         </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O nas
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
           </ul>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="http://127.0.0.1:8000/user_contact/contact/">Kontakt</a>
         </li>

         <li class="nav-item">
            <form class="form-inline my-2 my-lg-0"  method="post" action="{% url 'search-car' %}">
			    {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="car_search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </li>

        {% if user.is_authenticated %}
          Hi sir {{ user.id }}!
          <p><a href="{% url 'logout' %}">Log out</a></p>|
        {% else %}
          <p>You are not logged in</p>
          <a href="{% url 'login' %}">Log In</a> |
          <a href="{% url 'register' %}">Sign Up</a>
        {% endif %}

			</li>
        </ul>
      </div>
      </div>
     </div>
</nav>
